:root {
  --headers-color: #212121;
  --text-color: #757575;
  --light-text-color: #ffff;
  --transition-color: #2196f3;
  --background-color: #ffffff;
  --section-background-color: #2f303a;
  --main-font: "Roboto", "Raleway", sans-serif;
}

.body {
  background-color: var(--background-color);
}

.container {
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

@media screen and (max-width: 767px) {
  .header__container {
    height: 60px;
  }
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo__web {
  color: var(--transition-color);
  margin-right: -5px;
}
.logo__studio {
  color: #000000;
  text-decoration: none;
}

.navigation {
  font-family: var(--main-font);
  padding: 0;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  justify-content: center;
  list-style: none;
}
.navigation__list {
  position: relative;
}
.navigation__link {
  text-decoration: none;
  color: var(--headers-color);
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--transition-color);
}
.navigation__link--active::after {
  content: "";
  position: absolute;
  top: 45px;
  bottom: 0;
  height: 4px;
  width: 54px;
  background-color: var(--transition-color);
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation__link {
    margin-left: 60px;
  }
  .navigation__link--active::after {
    left: 60px;
  }

  .navigation--margin {
    margin-right: 101px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__link {
    margin-left: 46px;
  }
  .navigation__link--active::after {
    left: 46px;
  }

  .navigation--margin {
    margin-right: 350px;
  }
}
.contact {
  font-family: var(--main-font);
  font-weight: 500;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.contact__link {
  color: var(--text-color);
  text-decoration: none;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: var(--transition-color);
}
.contact__link:hover .contact__icon, .contact__link:focus .contact__icon {
  fill: var(--transition-color);
}
.contact__icon {
  fill: var(--text-color);
  align-items: center;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__icon--margin {
  margin-left: 0;
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    flex-direction: column;
    font-size: 12px;
    line-height: 1.17;
  }
  .contact__link {
    margin-bottom: 5px;
  }
  .contact__icon {
    margin-left: 0;
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    font-size: 14px;
    line-height: 1.15;
  }
  .contact__link {
    margin: 0;
  }
  .contact__icon {
    margin-left: 30px;
  }
}
.main-section {
  background-color: var(--section-background-color);
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.main-container {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
}

.main-section__header {
  font-family: var(--main-font);
  color: var(--light-text-color);
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  align-self: center;
  flex-wrap: wrap;
  margin: 0;
  padding-bottom: 30px;
}

.main-section__button {
  cursor: pointer;
  background-color: var(--transition-color);
  color: var(--light-text-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  align-self: center;
  margin: 0;
  border: 0;
  border-radius: 4px;
  padding: 10px 41px 10px 42px;
}

@media screen and (max-width: 767px) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-mobile.jpg);
    max-width: 480px;
  }

  .main-container {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }

  .main-section__header {
    font-size: 26px;
    line-height: 1.6;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-tablet.jpg);
    max-width: 768px;
  }

  .main-container {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }

  .main-section__header {
    font-size: 26px;
    line-height: 1.6;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-tablet@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-desktop.jpg);
    max-width: 1600px;
  }

  .main-container {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .main-section__header {
    font-size: 44px;
    line-height: 1.4;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-desktop@2x.jpg);
  }
}
.section-lorem {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-lorem {
    padding-bottom: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .section-lorem {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.paragraphs {
  padding: 0;
  list-style: none;
  margin: 0;
}
.paragraphs__icons {
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
}
.paragraphs__title {
  font-family: var(--main-font);
  color: var(--headers-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
}
.paragraphs__text {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0;
  padding-top: 10px;
}

@media screen and (max-width: 767px) {
  .paragraphs {
    display: block;
  }
  .paragraphs__icons {
    height: 120px;
    width: 450px;
  }
  .paragraphs__title {
    text-align: center;
  }
  .paragraphs__text {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .paragraphs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .paragraphs__icons {
    width: 354px;
    height: 120px;
  }
  .paragraphs__text {
    width: 354px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .paragraphs {
    display: flex;
  }
  .paragraphs__icons {
    width: 270px;
    height: 120px;
  }
}
.section-header {
  font-family: var(--main-font);
  color: var(--headers-color);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .section-header {
    font-size: 28px;
  }
  .section-header--margin {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-header {
    font-size: 28px;
  }
  .section-header--margin {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section-header {
    font-size: 36px;
  }
  .section-header--margin {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .section-profession {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-profession {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .section-profession {
    padding-top: 0;
    padding-bottom: 94px;
  }
}
.profession-images {
  display: flex;
  padding: 0;
  justify-content: space-between;
  margin: 0;
  list-style: none;
}

.profession-images__item {
  position: relative;
  line-height: 0;
}

.profession-images__describe {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.section-team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team-photos {
  padding: 0;
  list-style: none;
}
.team-photos__item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-photos__description {
  flex-grow: 1;
  margin: 0;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 24px;
}
.team-photos__title {
  font-family: var(--main-font);
  color: var(--headers-color);
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
}
.team-photos__workplace {
  font-family: var(--main-font);
  display: block;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-color);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .team-photos {
    display: block;
  }
  .team-photos__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .team-photos__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-photos {
    display: flex;
    justify-content: space-between;
  }
  .team-photos__description {
    padding-bottom: 30px;
  }
}
.members-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.members-socials__links {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.members-socials__links:hover, .members-socials__links:focus {
  background-color: var(--transition-color);
}
.members-socials__links:hover .members-social__icon, .members-socials__links:focus .members-social__icon {
  fill: #ffffff;
}

.members-social__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .members-socials {
    padding: 0 122px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .members-socials {
    padding: 0 76px;
  }
}
@media screen and (min-width: 1200px) {
  .members-socials {
    padding: 0 32px;
  }
}
@media screen and (max-width: 767px) {
  .section-clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  list-style: none;
}
.clients-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__item:hover, .clients-list__item:focus {
  border: 1px solid var(--transition-color);
}
.clients-list__item:hover .clients-list__image, .clients-list__item:focus .clients-list__image {
  fill: var(--transition-color);
}
.clients-list__image {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .clients-list__item {
    width: 210px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list__item {
    width: 226px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    width: 170px;
  }
}
.footer {
  background-color: #2f303a;
}

.footer-elements {
  display: flex;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .footer-elements {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .footer-join {
    padding: 0;
  }

  .footer-newsletter {
    padding-top: 60px;
    padding-left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-elements {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .footer-join {
    padding: 0;
    margin-left: 122px;
  }

  .footer-newsletter {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-join {
    padding-top: 70px;
    padding-left: 70px;
  }

  .footer-newsletter {
    padding-top: 72px;
    padding-left: 70px;
  }
}
.footer-logo {
  padding-top: 60px;
  padding-bottom: 20px;
}
.footer-logo__web {
  font-family: "Raleway";
  color: var(--transition-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-right: -5px;
}
.footer-logo__studio {
  font-family: "Raleway";
  text-decoration: none;
  color: var(--light-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .footer-logo {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-logo {
    text-align: center;
  }
}
.footer-address {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-bottom: 9px;
}
.footer-address__mail, .footer-address__tel {
  font-family: var(--main-font);
  display: flex;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address__mail--padding {
  padding-bottom: 9px;
}

.footer-address__mail--portfolio {
  padding-bottom: 9px;
}

.footer-address__tel--padding {
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .footer-address {
    text-align: center;
  }
  .footer-address__mail, .footer-address__tel {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-address {
    text-align: center;
  }
  .footer-address__mail, .footer-address__tel {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-address__mail--portfolio {
    text-decoration: underline;
  }
}
.footer-section-header {
  font-family: var(--main-font);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
}

@media screen and (max-width: 767px) {
  .footer-section-header {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-section-header {
    display: flex;
    justify-content: center;
  }
}
.footer-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style: none;
}
.footer-socials__links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials__links:hover, .footer-socials__links:focus {
  background-color: var(--transition-color);
}
.footer-socials__icon {
  fill: var(--light-text-color);
}

.footer-socials--margin {
  margin-top: 20px;
}

.newsletter-form__mail {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  padding: 0 0 0 16px;
  outline: none;
}
.newsletter-form__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: var(--transition-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--light-text-color);
  cursor: pointer;
}
.newsletter-form__icon {
  fill: var(--light-text-color);
  margin-left: 24px;
}

.newsletter-form--margin {
  margin-top: 20px;
}

.newsletter-form input::placeholder {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter-form__btn--margin {
  margin-left: 12px;
}

@media screen and (max-width: 767px) {
  .newsletter-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    width: 100%;
  }
  .newsletter-form__mail {
    width: 450px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .newsletter-form__btn {
    margin-left: 0;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .newsletter-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
  .newsletter-form__mail {
    width: 450px;
    margin-left: 152px;
    margin-right: 166px;
  }
  .newsletter-form__btn {
    margin-left: 0;
    margin-top: 20px;
  }
}
@media screen and (max-width: 767px) {
  .btn-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .btn-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .btn-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.buttons-nav {
  display: flex;
  list-style: none;
}

.buttons-nav__filter {
  cursor: pointer;
  background-color: #f5f4fa;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headers-color);
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons-nav__filter:hover, .buttons-nav__filter:focus {
  background-color: var(--transition-color);
  color: var(--light-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons-nav__filter--margin {
  margin-left: 8px;
}

@media screen and (max-width: 767px) {
  .buttons-nav {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 8px;
  }
  .buttons-nav--margin {
    margin-left: -8px;
    margin-bottom: 40px;
    margin-top: 0;
  }
  .buttons-nav__filter--margin {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .buttons-nav {
    justify-content: center;
    padding-left: 8px;
  }
  .buttons-nav--margin {
    margin-left: -8px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .buttons-nav {
    justify-content: center;
  }
  .buttons-nav--margin {
    margin-left: -8px;
    margin-bottom: 56px;
  }
}
.portfolio-list {
  padding: 0;
  list-style: none;
}

.portfolio-list__item {
  border: 1px solid #eeeeee;
  margin-bottom: 22px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  line-height: 0%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list__item:hover .portfolio-list__hiden {
  transform: translatey(0);
}

.portfolio-list__img {
  margin: 0 auto;
}

.portfolio-list__hiden {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  height: 294px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
  margin: 0;
  padding: 49px 45px 49px 24px;
  transform: translatey(100%);
  transition: transform 250ms ease;
}

.portfolio-list__description {
  flex-grow: 1;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  position: relative;
  background-color: #ffffff;
}

.portfolio-list__product {
  font-family: var(--main-font);
  color: var(--headers-color);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.portfolio-list__product-type {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .portfolio-list {
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, translate;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  transform: scale(100%);
  opacity: 100%;
}
.backdrop--hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.closing-button {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closing-button--modal {
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headers-color);
}

.modal-title--position {
  margin-top: 40px;
  margin-bottom: 15px;
}

.form-modal__area {
  display: block;
  position: relative;
  margin-left: 40px;
  margin-bottom: 4px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
.form-modal__area:focus-within .form-modal__icon {
  fill: var(--transition-color);
}

.form-modal__input {
  display: block;
  position: relative;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__input:focus {
  border: 1px solid var(--transition-color);
}

.form-modal__icon {
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 15px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__comment {
  display: block;
  margin-left: 40px;
  margin-bottom: 4px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.form-modal__textarea {
  height: 120px;
  padding: 12px 16px;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__textarea::placeholder {
  position: absolute;
  top: 12px;
  left: 16px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__textarea:focus {
  border: 1px solid var(--transition-color);
}

.form-modal__checkbox {
  display: block;
  margin-bottom: 30px;
  font-family: var(--main-font);
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--text-color);
  cursor: pointer;
}
.form-modal__checkbox::before {
  content: "";
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
}

.form-modal__links {
  color: var(--transition-color);
  text-decoration: underline;
}

.form-modal__policy:checked + .form-modal__checkbox::before {
  background-color: var(--transition-color);
  border: none;
  border-radius: 2px;
  background-image: url(../images/Checked.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 2px 4px;
}

.form-submit-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  display: block;
}

.form-submit-button--position {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }

  .modal-title {
    display: flex;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
  }

  .form-modal__input {
    width: 370px;
  }

  .form-modal__textarea {
    width: 370px;
  }

  .form-modal__checkbox {
    margin-left: 40px;
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }

  .modal-title {
    display: flex;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
  }

  .form-modal__input {
    width: 370px;
  }

  .form-modal__textarea {
    width: 370px;
  }

  .form-modal__checkbox {
    margin-left: 40px;
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }

  .modal-title {
    display: block;
  }

  .form-modal__input {
    width: 448px;
  }

  .form-modal__textarea {
    width: 448px;
  }

  .form-modal__checkbox {
    margin-left: 55px;
    font-size: 14px;
    line-height: 1.71;
  }
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */