@import "./base/common";
@import "./base/container";
@import "./layout/header";
@import "./components/header-logo";
@import "./components/header-navigation";
@import "./components/header-contact";
@import "./layout/main-section";
@import "./layout/lorem-section";
@import "./components/lorem-paragraphs";
@import "./components/section-header";
@import "./layout/profession-section";
@import "./components/profession-images";
@import "./layout/team-section";
@import "./components/team-photos";
@import "./components/members-social-media";
@import "./layout/clients-section";
@import "./components/clients-list";
@import "./layout/footer";
@import "./components/footer-logo";
@import "./components/footer-adress";
@import "./components/footer-header";
@import "./components/footer-social-media";
@import "./components/footer-newsletter";
@import "./pages/portfolio/layout/buttons-section";
@import "./pages/portfolio/components/navigation-buttons";
@import "./pages/portfolio/components/portfolio-list";
@import "./components/backdrop";
@import "./components/modal";
@import "./utils/visually-hiden";
