.footer {
  background-color: #2f303a;
}

.footer-elements {
  display: flex;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 767px) {
  .footer-elements {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .footer-join {
    padding: 0;
  }
  .footer-newsletter {
    padding-top: 60px;
    padding-left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-elements {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .footer-join {
    padding: 0;
    margin-left: 122px;
  }
  .footer-newsletter {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-join {
    padding-top: 70px;
    padding-left: 70px;
  }
  .footer-newsletter {
    padding-top: 72px;
    padding-left: 70px;
  }
}
