.footer {
  background-color: #2f303a;
}

.footer-elements {
  display: flex;
  padding: 0;
  list-style: none;
}
.footer-join {
  padding-top: 70px;
  padding-left: 70px;
}
.footer-newsletter {
  padding-top: 72px;
  padding-left: 70px;
}
