.newsletter-form {
    &__mail {
        width: 358px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background-color: transparent;
        padding: 0 0 0 16px;
        outline: none;
        }

    &__btn {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 50px;
            background: var(--transition-color);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            border: none;
            font-family: var(--main-font);
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.06em;
            color: var(--light-text-color);
            cursor: pointer;
            }
        
        &__icon {
            fill: var(--light-text-color);
            margin-left: 24px;
            }
}
.newsletter-form--margin {
    margin-top: 20px;
}

.newsletter-form input::placeholder {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.newsletter-form__btn--margin {
    margin-left: 12px;
}

