.footer-section-header {
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--light-text-color);
}