.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    &__web {
            color: var(--transition-color);
            margin-right: -5px;
        }
    
    &__studio {
            color: #000000;
            text-decoration: none;
        }
}

