.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    min-height: 581px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.closing-button {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closing-button--modal {
    position: absolute;
    top: 8px;
    right: 8px;
}

.modal-title {
    display: block;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--headers-color);
}

.modal-title--position {
    margin-top: 40px;
    margin-bottom: 15px;
}

.form-modal__area {
    display: block;
    position: relative;
    margin-left: 40px;
    margin-bottom: 4px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--text-color);

    &:focus-within .form-modal__icon {
            fill: var(--transition-color);
        }
}

.form-modal__input {
    display: block;
    position: relative;
    padding-left: 42px;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus {
            border: 1px solid var(--transition-color);
        }
}

.form-modal__icon {
    display: inline-block;
    position: absolute;
    top: 25px;
    left: 15px;
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.form-modal__comment {
    display: block;
    margin-left: 40px;
    margin-bottom: 4px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--text-color);
}

.form-modal__textarea {
    width: 448px;
    height: 120px;
    padding: 12px 16px;
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;
    outline: none;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
            position: absolute;
            top: 12px;
            left: 16px;
            font-family: var(--main-font);
            font-weight: 400;
            font-size: 12px;
            line-height: 1.16;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
                &:focus {
                    border: 1px solid var(--transition-color);
                }
}

.form-modal__checkbox {
    display: block;
    margin-left: 55px;
    margin-bottom: 30px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
    cursor: pointer;

    &::before {
            content: "";
            display: inline-flex;
            width: 16px;
            height: 16px;
            border: 2px solid #212121;
        }
}

.form-modal__links {
    color: var(--transition-color);
    text-decoration: underline;
}



.form-modal__policy:checked+.form-modal__checkbox::before {
    background-color: var(--transition-color);
    border: none;
    border-radius: 2px;
    background-image: url(../images/Checked.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: 2px 4px;
}

.form-submit-button {
    width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #ffffff;
    cursor: pointer;
    display: block;
}

.form-submit-button--position {
    margin: 0 auto;
}

