.section-header {
  font-family: var(--main-font);
  color: var(--headers-color);
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .section-header {
    font-size: 28px;

    &--margin {
      margin-bottom: 30px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-header {
    font-size: 28px;

    &--margin {
      margin-bottom: 30px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .section-header {
    font-size: 36px;

    &--margin {
      margin-bottom: 50px;
    }
  }
}
