.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
    list-style: none;
}

.portfolio-list__item {
    border: 1px solid #eeeeee;
    margin-bottom: 22px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    line-height: 0%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
         
        &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }

                &:hover .portfolio-list__hiden {
                    transform: translatey(0);
                }
}

.portfolio-list__img {
    margin: 0 auto;
}

.portfolio-list__hiden {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    height: 294px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--light-text-color);
    margin: 0;
    padding: 49px 45px 49px 24px;
    transform: translatey(100%);
    transition: transform 250ms ease;
}

.portfolio-list__description {
    flex-grow: 1;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    position: relative;
    background-color: #ffffff;
}

.portfolio-list__product {
    font-family: var(--main-font);
    color: var(--headers-color);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-bottom: 4px;
}

.portfolio-list__product-type {
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;
}